<style type="text/css" media="screen">

	.button {
	    -moz-appearance: button;
	    /* Firefox */
	    -webkit-appearance: button;
	    /* Safari and Chrome */
	    padding: 5px;
	    margin: 10px;
	    width: 90px;
	}

	.drop-box {
	    background: #F8F8F8;
	    border: 5px dashed #DDD;
	    width: 200px;
	    height: 100px;
	    text-align: center;
	    padding-top: 25px;
	    margin: 10px;
	}

	.dragover {
	    border: 5px dashed blue;
	}

	input[type="text"] {
		height: 20px;
		width: 200px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 2px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}

</style>

<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
		{{message}}
	<br>

	<div>

	    <input type="checkbox" ng-model="multiple">upload multiple file</br></br>

	    Drop File:
	    <div ng-file-drop ng-file-select ng-model="archivo.files" class="drop-box" 
	         drag-over-class="dragover" ng-multiple="true" 
	         accept="image/*,application/pdf">Drop pdfs or images here or click to upload</div>
	    <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
	    
	    <ul>
	        <li ng-repeat="f in archivo.files" style="font:smaller" blur="submitToggle">{{f.name}}</li>
	    </ul>

	</div>

	<br><br>

	<div>
		<div class="col-md-12" data-ng-show="listaArchivos.length != 0">
			<table class="table table-striped table-bordered" id="table1">
				<thead>
					<th>Name&nbsp;</th>
					<th>IMG&nbsp;</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="data in listaArchivos">
						<td>{{data.name}}</td>
						<td><img ng-src="data:{{data.img.contentType}};base64,{{data.img.data}}" height="50" width="50" /> </td>
						<td>
							<a href="/edit-customer/{{data._id}}" class="btn">&nbsp;
								<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		<br/>
			
	 	</div>
	</div>

	<br>
		 <img ng-src="data:{{type}};base64,{{buffer}}"/>

	<br>
	<button data-ng-click="subir(archivo)" ng-disabled="esOculto">
		<i class="glyphicon glyphicon-floppy-save"></i>&nbsp; Guardar
	</button>
	<br>
	<br>
	
</div>
